*{
    margin: ;
    padding: ;
    box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.box{
    border: 1px solid;
    padding: 1rem;
    font-size: 20px;
    height: 350px;
    width: 300px;
}
.menu h1{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}